--extra-index-url https://download.pytorch.org/whl/cu118

# PyTorch Ecosystem for CUDA 11.8
torch==2.1.0+cu118
torchvision==0.16.0+cu118
torchaudio==2.1.0+cu118

# Visualization and logging
tensorboardx==2.6.2.2
matplotlib==3.7.3
seaborn==0.13.2
forgi==2.2.3

# Data handling and scientific computing
numpy==1.23.1
scipy==1.10.1
pandas==2.0.3
biopython==1.83
h5py==3.11.0
ViennaRNA==2.7.0

# Others
munch==4.0.0
networkx==3.1
tqdm==4.66.1